# Django
SECRET_KEY=<SecretKey>
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL (option 1: individual fields)
DB_NAME=rakshak
DB_USER=postgres
DB_PASSWORD=<Password>
DB_HOST=localhost
DB_PORT=5432



# JWT
JWT_SECRET_KEY=change-this-jwt-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
